@{
    ViewData["Title"] = "Pagina2";
}

<div class="text-center">
    <h1 class="display-4">Página 2</h1>
    <p>Learn about <a href="www.yonkis.com">building Web apps with ASP.NET Core</a>.</p>
    <img src="../images/home.jpg"/>
</div>
