


<div class="container">
    <div class="col">
        <div class="row">
            <h1>Cliente actualizado correctamente!!</h1>
            <img src="~/images/ClienteActualizarOK.jpg" />

        </div>


    </div>



</div>