@model Cliente;
@{
    
}


<div class="container">
    <div class="col">
        <div class="row">
            <h1>Selecciona cliente a borrar</h1>
        </div>
            <div class="row">

            
                <form method="post" asp-controller="Cliente" asp-action="BorradoCliente">

                    <select class="form-control" asp-for="@Model.Nickname">
                        @foreach (Cliente _cliente in (List<Cliente>)ViewData["listaClientes"])
                        {
                            <option value="@_cliente.Nickname">"@_cliente.Nickname"</option>
                        }
                    </select>
                    <br />
                    <input type="submit" class="btn btn-primary" value="Borrar" />
                </form>
            </div>
        </div>
    </div>