@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<div class="container">
    <div class="col">
        <div class="row">
            <h1>Cliente Borrado correctamente!!</h1>
            <img src="~/images/ClienteBorrarOK.jpg" />

        </div>


    </div>



</div>